[Unit]
Description=Flumip Staging Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/flumip_staging/backend
ExecStart=/var/www/flumip_staging/backend/server --mode=staging --server-id=staging --logging=verbose --role=monolith --apply-migrations
Restart=always
User=www-data

[Install]
WantedBy=multi-user.target